<%= turbo_frame_tag :time_trackers do %>
  <%= form_with(model: time_tracker) do |form| %>
    <div class='row my-3'>
      <div class='col-10'>
        <%= form.text_field :topic, class: 'form-control', placeholder: 'What are you working on?'%>
      </div>
      <div class='col-1'>
        <%= form.text_field :rate_per_hour, class: 'form-control' %>
      </div>
      <div class='col-1'>
        <%= form.button :button, class: 'bg-light rounded py-1 px-3', type: :submit do%>
        <i class="fa-solid fa-play"></i>
        <% end %>

      </div>
    </div>
  <% end %>
<% end %>